/* General */

/* color */

$white:#fff;
$dark-gray:#252B33;
$orange:#EA7024;
$blue:#005896;
$gray:#D7D5D5;
$gray_1:#4A4A4A;
$gray-bg:#F6F6F6;
$acc_border:#EEEEEE;
$dot:#6AAEDE;
$green:#A9CA3F;
$form-border:#D4D4D4;

$primary-font:'GothamMedium';
$secondary-font:'GothamLight';


